@mixin mg($t:0,$r:0,$b:0,$l:0){
    margin-top: $t;
    margin-right: $r;
    margin-bottom: $b;
    margin-left: $l;
}
@mixin pd($t:0,$r:0,$b:0,$l:0){
    padding-top: $t;
    padding-right: $r;
    padding-bottom: $b;
    padding-left: $l;
}

body{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.top{
    line-height: 40px;
    @include mg($l:20px);
    text-align: left;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}

.mine-order{
    line-height: 40px;
    display: flex;
    justify-content:space-between;
    div:nth-child(1){
        @include mg($l:20px)
    }
    div:nth-child(2){
        @include mg($r:10px)
    }
}

.line-two{
    @extend .line;
    background-color: #eee;
}

.status{
    @include mg($t:14px,$b:14px);
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    div{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 24%;
        img{
            width: 40%;
            @include mg($b:8px)
        }
    }
}

.line-three{
    height: 24px;
    width: 100%;
    @extend .line;
    line-height: 24px;
    background-color:#e5e5e5;
    color: #888;
    span{
        @include mg($l:20px)
    }
}

.detail{
    display: flex;
    width: 96%;
    @include mg($r:2%,$l:2%,$t:12px);
    .img-show{
        width: 20%;
        text-align: center;
        img{
            width: 80%;
        }
    }
    .text{
        width: 80%;
        div:nth-child(1){
            align-items: flex-end;
            font-size: 1rem;
            display: flex;
            justify-content: flex-start;
            span:nth-child(1){
                flex: 1 0 auto;
            }
            span:nth-child(2){
                font-size: 0.6rem;
                color: darkcyan;
            }
        }
        div:nth-child(2){
            color: #999999;
            @include mg($t:8px,$b:8px);
            display: flex;
            justify-content: flex-start;
            flex-flow: wrap;
        }
        div:nth-child(3){
            color: #999999;
            @include mg($t:8px,$b:8px);
            display: flex;
            justify-content: flex-start;
            align-items:center;
            span:nth-child(2){
                color: #999999;
                flex: 1 0 auto;
            }
            span:nth-child(3){
                color: orangered;
                display: inline-block;
                border: 1px solid orangered;
                @include pd(4px,4px,4px,4px);
                border-radius: 4px;
            }
        }
        div:nth-child(4){
            font-size: 0.9rem;
            span:nth-child(1){
                background-color: lavenderblush;
                color: orangered;
                display: inline-block;
                @include pd(4px,4px,4px,4px);
                border-radius: 8px;
                border: 1px solid orangered;
            }
        }
    }
}

.more{
    text-align: center;
    line-height: 40px;
    color: darkcyan;
    font-size: 0.8rem;
}

.line-four{
    @extend .line;
    height: 12px;
}

.mine-cle{
    display: flex;
    justify-content: flex-start;
    line-height: 40px;
    span:nth-child(1){
        flex: 1 0 auto;
        @include mg($l:20px);
        font-size: 1rem;
    }
    span:nth-child(2){
        @include mg($r:20px);
        font-size: 0.8rem;
        color: #999999;
    }
}
.class-detail{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include mg($t:8px,$b:0px);
    .detail{
        display: flex;
        width: 96%;
        @include mg($r:2%,$t:10px);
        .detail-left{
            width: 30%;
            img{
                width: 100%;
            }
        }
        .detail-right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70%;
            div{
                @include mg($t:2px,$b:2px)
            }
            .right-one{
                font-size: 1rem;
                display: flex;
                span:nth-child(1){
                    flex: 1 0 auto;
                }
                span:nth-child(2){
                    @include pd(1px,1px,1px,2px);
                    border: solid 1px orangered;
                    border-radius: 4px;
                    color: orangered;
                }
            }
            .right-two{
                @include mg($t:4px);
                display: flex;
                justify-content: flex-start;
                align-items:center;
                div:nth-child(1){
                    display: flex;
                    width: 40%;
                    span{
                        width: 20%;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
            .top10{
                @include mg($t:10px);
                span{
                    font-size: 0.4rem;
                    color:orangered ;
                    border: 1px solid orangered;
                    @include pd(2px,2px,2px,2px);
                    border-radius: 5px;
                }
            }
        }
    }
    .line{
        width: 70%;
        height: 1px;
        @include mg($b:8px);
    }
    .tail{
        width: 70%;
        @include mg($b:8px);
        span:nth-child(1){
            background-color:orangered ;
            color: white;
            @include pd(1px,1px,1px,1px);
            border-radius: 2px;
        }

    }
}









