@mixin mg($t:0,$r:0,$b:0,$l:0){
    margin-top: $t;
    margin-right: $r;
    margin-bottom: $b;
    margin-left: $l;
}
@mixin pd($t:0,$r:0,$b:0,$l:0){
    padding-top: $t;
    padding-right: $r;
    padding-bottom: $b;
    padding-left: $l;
}

body{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.top{
    line-height: 40px;
    @include mg($l:20px)
}

.line{
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}

.mine-order{
    line-height: 40px;
    display: flex;
    justify-content:space-between;
    div:nth-child(1){
        @include mg($l:20px)
    }
    div:nth-child(2){
        @include mg($r:10px)
    }
}

.line-two{
    @extend .line;
    background-color: #eee;
}

.status{
    @include mg($t:14px,$b:14px);
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    div{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 24%;
        img{
            width: 40%;
            @include mg($b:8px)
        }
    }
}

.line-three{
    height: 24px;
    width: 100%;
    @extend .line;
    line-height: 24px;
    background-color:#e5e5e5;
    color: #888;
    span{
        @include mg($l:20px)
    }
}

.detail{
    display: flex;
    width: 96%;
    @include mg($r:2%,$l:2%,$t:12px);
    .img-show{
        display: flex;
        justify-content: center;
        width: 20%;
        img{
            width: 80%;
        }
    }
    .text{
        width: 70%;
        div:nth-child(1){
            align-items: flex-end;
            font-size: 1rem;
            display: flex;
            justify-content: flex-start;
            span:nth-child(1){
                flex: 1 0 auto;
            }
            span:nth-child(2){
                font-size: 0.6rem;
                color: darkcyan;
            }
        }
        div:nth-child(2){
            @include mg($t:8px,$b:8px);
            display: flex;
            justify-content: flex-start;
            flex-flow: wrap;
        }
        div:nth-child(3){
            @include mg($t:8px,$b:8px);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            span:nth-child(2){
                color: orangered;
                flex: 1 0 auto;
                font-size: 1rem;
            }
            span:nth-child(4){
                color: #666;
                display: inline-block;
                border: 1px solid #eee;
                @include pd(1px,2px,1px,2px);
                border-radius: 10px;
            }
        }
        div:nth-child(4){
            font-size: 0.9rem;

            span:nth-child(1){
                background-color: lavenderblush;
                color: orangered;
                display: inline-block;
                @include pd(4px,4px,4px,4px);
                border-radius: 8px;
            }
        }
    }
}















