@mixin mg($t:0,$r:0,$b:0,$l:0){
    margin-top: $t;
    margin-right: $r;
    margin-bottom: $b;
    margin-left: $l;
}
@mixin pd($t:0,$r:0,$b:0,$l:0){
    padding-top: $t;
    padding-right: $r;
    padding-bottom: $b;
    padding-left: $l;
}
body{
    font-size: 12px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    width: 100%;
    display: flex;
    line-height: 40px;
    background-color: #42b983;
    justify-content: flex-end;
    span{
        @include mg($l:8px,$r:8px);
        width: 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40px;
        img{
            width: 100%;
        }
    }
    span:nth-child(1){
        @include mg($l:20px);
        flex: 1 0 auto;
        img{
            width: 8%;
        }
    }
    span:nth-child(3){
        @include mg($r:20px);
    }
}
.module-one{
    font-size: 0.7rem;
    @include mg($t:18px);
    img{
        width: 36px;
        height: 36px;
        @include mg($b:8px)
    }
    width: 100%;
    display: flex;
    justify-content: space-around;
    div{
        text-align: center;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
}

.line{
    width: 100%;
    height: 1px;
    background-color: #eee;
    @include mg(14px,0,5px,0)
}
.title{
    @include mg($l:20px,$t:14px);
    font-size: 0.9rem;
}