@mixin mg($t:0,$r:0,$b:0,$l:0){
    margin-top: $t;
    margin-right: $r;
    margin-bottom: $b;
    margin-left: $l;
}

@mixin pd($t:0,$r:0,$b:0,$l:0){
    padding-top: $t;
    padding-right: $r;
    padding-bottom: $b;
    padding-left: $l;
}

@mixin wh($w:0px,$h:0px){
    width: $w;
    height: $h;
}

.parent{
    @include wh($w:100px,$h:100px);
    background-color: #42b983;
    display: flex;
    justify-content: center;
    align-items: center;
    .child{
        //display: flex;
        background-color: antiquewhite;
    }
}











